.linker{
    text-decoration: none;
    color: black !important;
}

.fade-enter-active, .fade-leave-active{
    transition-duration: 0.75s;
    transition-property: opacity;
    transition-timing-function: ease
}

.fade-enter, .fade-leave{
    opacity: 0;
}